<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.cenitt.www.cenittapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoconfondo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".inicio.Splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".inicio.InicioSesion" />
        <!-- android:label="This is the Hello World Application" -->
        <activity
            android:name=".super_usuario.RegistroUsuario"
            android:parentActivityName=".inicio.InicioSesion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".inicio.InicioSesion" />
        </activity>
        <activity android:name=".InformacionDatos" />
        <activity android:name=".OpcionTarifas" />
        <activity
            android:name=".super_usuario.SuperPrincipal"
            android:label="@string/title_activity_super_principal"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".ventas.VentasActivity" />
        <activity android:name=".presupuesto.PresupuestoActivity" />
        <activity
            android:name=".tecnico.TecnicoActivity"
            android:label="@string/title_activity_tecnico"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".presupuesto.NuevoPresupuestoActivity"></activity>
    </application>

</manifest>